{% extends 'main.html' %}

{% block content %}
        {% for email in emails %}
        <div class="card">
            <h5 class="card-header">Send by: {{ email.payload.headers.17.value }}</h5>
            <div class="card-body">
                <h5 class="card-title">{{ email.payload.headers.16.value | slice:":230"}}...</h5>
                <p class="card-text">{{ email.snippet }}</p>
                <a href="#" class="btn btn-primary">See message</a>
            </div>
        </div>
        {% endfor %}
{% endblock %}